* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
  }
  
  .cv-container {
    margin: 1rem;
    width: 794px;
    padding-left: 3rem;
    height: 1123px;
    border: 3px solid black;
  }
  
  .cv-header {
    margin-top: 4rem;
  }
  

  hr{
    border: 1px solid black;
    width: 70%;
  }
  
  .name {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .position-title {
    color: red;
    padding-top: 0.5rem;
    font-weight: 700;
  }
  
  .section-title {
    padding-top: 1rem;
    font-weight: 700;
    color: red;
  }
  
  .degree,
  .company-name {
    padding-top: 1rem;
    font-weight: 700;
    color: blueviolet;
  }
  .skills-list,.experience-skills{
    font-weight: 600;

  }
  .education-duration,
  .experience-duration {
    padding-top: 0.5rem;
    font-weight: 600;
  }
  
  .education-details,
  .experience-details {
    list-style-type: none;
    font-weight: 600;
  }
  
  .contact-info {
    padding: 2rem 0;
    font-weight: 600;
  }
  
  .address-line,
  .phone,
  .email {
    font-weight: 600;
    padding: 0;
  }
  
  .social-link {
    font-weight: 600;
    text-decoration: none;
    color: rgb(85, 42, 205);
  }
  
  .social-link:hover {
    color: blueviolet;
  }
  
 
  